//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

h2 Verbindungsdaten
p Beim ersten Start wird Elexis Sie nach Verbindungsdaten fragen.
  |  Verwenden Sie bitte folgende Angaben:
table
  tr
    td Server
    td (Serveradresse)
  tr
    td Port
    td 3312  
  tr 
    td Datenbank
    td elexisoob  
  tr
    td Benutzername
    td Den Namen für die Datenbankverbindung
  tr
    td Passwort
    td Das Passwort für die Datenbankverbindung
p (Die hier gefragte Benutzeridentifikation ist NICHT Ihr Elexis-Login, sondern die Verbindungsdaten zur 
  | Datenbank, wie sie bei der Einrichtung der Datenbank angegeben wurden.)    

