//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

h2 Software Sites
p Nach erfolgreichem Start von Elexis müssen Sie die benötigten Plugins hinzufügen. Beachten Sie dafür bitte die
  a(href="https://elexis.ch/ungrad/start/firstlaunch/")  oben
  |  gezeigte Anleitung.
p Sie können entweder die vorgebenen Software-Sites verwenden, oder die hier aufgeführten, die zu Elexis-OOB gehören:
  
ul.list-group
  li.list-group-item
    a(href="/elexis-core") http://#{ip}:3000/elexis-core
    span (wird nur selten benötigt)

  li.list-group-item
    a(href="/elexis-base") http://#{ip}:3000/elexis-base
    span (Hier sind die meisten Plugins)

  li.list-group-item
    a(href="/elexis-ungrad") http://#{ip}:3000/elexis-ungrad
    span (Zusätzliche Plugins von Elexis Ungrad)
    
p Geben Sie einfach die hier angegebenen Adressen als Adresse für die jeweilige Software-Site an.   