h2 Verwaltung
ul.list-group
  li.list-group-item Elexis Datenbank neu aufsetzen
  li.list-group-item 
    a(href="/backup/settings") Datensicherung konfigurieren
  li.list-group-item Elexis Datenbank für Webelexis vorbereiten  
