//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

h2 Verwaltung
ul.list-group
  li.list-group-item 
    a(href="/db/init") Datenbank initialisieren.
  li.list-group-item
    a(href="/db/loaddata") Basis-Datenbestände einlesen  
  li.list-group-item 
    a(href="/backup/settings") Datensicherung konfigurieren
  li.list-group-item 
    a(href="/db/restore") Datenbank aus Backup wiederherstellen
  li.list-group-item Datenbank aus SQL Script erstellen
    form(method="post" action="/db/readsql"  enctype="multipart/form-data")
      input(type="file" name="file") 
      input(type="submit" value="OK")  
      

