//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

h2 Verwaltung
ul.list-group
  li.list-group-item 
    a(href="/db/init") Datenbank initialisieren.
  li.list-group-item 
    a(href="/backup/settings") Datensicherung konfigurieren
  li.list-group-item 
    a(href="/db/restore") Datenbank aus Backup wiederherstellen
     
