//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

extends layout

block content
  .container
    h1.h1 Backup Einstellungen
    p Das Backup wird nur funktionieren, wenn Sie in der Grundeinstellung (docker.compose.yaml) ein 
      |  entsprechendes Verzeichnis f端r die Datensicherung eingebunden haben! Bitte pr端fen Sie, ob am
      | gew端nschten Ort ein Backup erscheint!

    form(action="/backup/exec" method="POST")
      .form-row
        .form-group.mx-3
          label(for="sel_hours") Stunde
          select#sel_hours.form-control(name="hour")
            - var i=0
            while i<24
              - var val=i
              option(value=val)= i++
        .form-group.mx-3      
          #days 
            p Tage
            - var days=["Mo","Di","Mi","Do","Fr","Sa","So"]
            each day in days
              .form-check
                input.form-check-input(type="checkbox" value="1" name=day id="id_"+day)
                label.form-check-label(for="id_"+day) #{day}

      .form-check
        input.form-check-input(type="checkbox" name="backupNow" value="1" id="doBackupNow")
        label.form-check-label(for="doBackupNow") Sofort erstellen      
      button.my-3(type="submit") Ausf端hren 
      