//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

extends layout

block content
  .container
    h1.h1= title
    .row
      .col
        h2.h2 Installation und Konfiguration
        p Detaillierte 
          a(href="/anleitung.hmtl") Anleitung 
          | oder 
          a(href="/db/init") Datenbank initialisieren
          | .
        hr 
        include partials/download.pug
        include partials/connection.pug
      .col   
        .row
          .col
            include partials/dlsites  
            include partials/manage
            