//- This file is part of elexis-oob
    Copyright (c) 2019 by G. Weirich

extends layout

block content
  .container
    h1.h1 Datenbank vorbereiten

    p Die Datenbank wurde erfolgreich erstellt. Jetzt muss das Administrator-Konto und das Konto des Hauptmandanten eingerichtet werden.

    form(action="/db/createaccount" method="POST")
      .form-row
        .form-group.col
          label(for="adminname") Username des Administrators
          input.form-control#adminname(type="text" value="Administrator" name="adminname")
        .form-group.col
          label(for="adminpwd") Passwort des Administrators
          input.form-control#adminpwd(type="text" value="administrator" name="adminpwd")
      .form-row
        .form-group.col
          label(for="username") Username des Hauptmandanten
          input.form-control#username(type="text" value="Chef" name="username")
        .form-group.col
          label(for="userpwd") Passwort des Hauptmandanten
          input.form-control#userpwd(type="text" value="muchsecret" name="userpwd")
      .form-row
        .form-group.col
          label(for="lastname") Name des Hauptmandanten
          input.form-control#lastname(type="text" value="Userman" name="lastname")
        .form-group.col
          label(for="firstname") Vorname(n)
          input.form-control#lastname(type="text" value="User" name="firstname")
        .form-group.col
          label(for="title") Titel
          input.form-control#title(type="text" value="" name="title")
      button.btn.btn-primary(type="submit" value="ok") OK        
