body{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
  color: #00B7FF;
}

.h1{
  color: blue;
  margin-bottom: 20px;
}

table{
margin-bottom: 10px;
}
td{
  margin-left: 4px;
  margin-right: 8px;
  padding-right: 4px;
  padding-left: 4px;
}
tr{
  margin-bottom: 2px;
}